.productCard {
  background-color: #ffffff;
  padding: 4px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: 200px;
  border-radius: 4px;
  transition: 0.1s ease-in-out;
  width: 100%;

  .logo {
    padding: 5px 10px;
    display: flex;
    align-items: center;
    height: 100%;
    gap: 5px;
    width: 20%;
    overflow: hidden;


    h4 {
      margin: 15px 0px;
    }
  }

  .greenBg {
    background: rgba(228, 255, 224);
  }

  .redBg {
    background: rgba(255, 38, 0, 0.1);
  }

  .detailsSection {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 60%;


    .productCardDetails {
      display: flex;
      flex-direction: column;
      gap: 10px;
      height: 100%;
      width: 25%;
      overflow: hidden;

      .productCardHeader {
        p {
          margin: 0;
          font-size: 12px;
        }
      }

      .productCardBody {
        display: flex;
        align-items: center;

        .value {
          font-size: 16px;
          padding-inline: 4px;
          margin: 0 10px 0 0;
          font-weight: 500;
        }
      }
    }
  }


  .navLink {
    font-size: 12px;
    font-weight: 600;
    line-height: 12.19px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3px;
    width: 20%;
    overflow: hidden;

    a {
      color: #1b1b1c;
    }
  }
}

.productCard:hover {
  box-shadow: 0px 0px 6px 0px #00000040;
  cursor: pointer;

  .navLink {
    a {
      color: #2249ff;
    }

    svg path {
      fill: #2249ff;
    }
  }
}

.greenBorder:hover {
  border-left: 4px solid #3fca28;
}

.redBorder:hover {
  border-left: 4px solid #ff2600;
}