.card {
  padding: 10px;
  background-color: rgba(247, 247, 247, 1);
  border-radius: 4px;
  display: flex;
  gap: 20px;
  align-items: flex-start;
  // min-width: 230px;

  // justify-content: space-evenly;
  // min-width: 180px;
  // width: 100%;

  img {
    align-self: center;
  }

  .cardDetails {
    display: flex;
    flex-direction: column;

    .cardHeader {
      margin-bottom: 2px;

      p {
        margin: 0;
        font-size: 12px;
      }
    }

    .cardBody {
      display: flex;
      align-items: center;
      margin-top: 15px;

      .value {
        font-size: 16px;
        margin: 0 10px 0 0;
        font-weight: 600;
      }

      .greenText {
        color: #33ab1f;
      }

      .redText {
        color: #ff2600;
      }
      .growthGreen {
        color: rgba(63, 202, 40, 1);
        display: flex;
        align-items: center;
        gap: 5px;
        font-size: 10px;
        margin: 0;
      }

      .growthRed {
        color: rgba(255, 38, 0, 1);
        display: flex;
        align-items: center;
        gap: 5px;
        font-size: 10px;
        margin: 0;
      }
    }
    .description {
      p {
        margin: 0;
        font-size: 10px;
      }
    }
  }

  .chart {
    width: 100px;
    height: 73px;
    align-self: center;
  }
}
